@import "tailwindcss";

@layer base {
  :root {
    scrollbar-color: var(--color-neutral-700) var(--color-neutral-900);
  }

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }
}

@theme {
  --font-sans: var(--font-sans);
  --font-code: var(--font-code);
}
